body
{
    background-color: #5c5c5c;
    color: snow;
}
a
{
    color: snow;
    
}
a:active
{
    color: chocolate;
}
a::after
{
    color: black;
}
.Main_Items
{
    background-color: #840606 ;
}
.Main_Items header, footer
{
    background-color: #0949AA;
    font-size: larger;

}
.Main_Items input, .Main_Items button
{
    background-color: #1b0ca2;
    color: snow;

}
::placeholder
{
    color: snow;
    opacity: 1;
    font-size: larger;
    text-align: center;
}
