.Main_Items
{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    margin-left: 25%;
    margin-top: 50px;
    border-radius: 10px;
    font-family: Victor Mono;
    box-shadow: 10px 10px 10px black;
    text-align: center;
}
.Main_Items header
{
    text-align: center;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 5px 10px black;
}
.Main_Items input, .Main_Items button
{
    width: 95%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
}
#Small_button
{
    display: flex;
    flex-direction: row;
    width: 95%;
    gap: 30%;
}
#Buttons_Need_to_move 
{
    display: flex;
    width: 95%;
    justify-content: center;
    margin-left: 10px;
    
}
footer
{
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px -5px 10px black;
}
#Food_Items
{
    display: flex;
    gap: 5%;
    text-align: center;
    height: 30px;
}
#Food_Items button
{
    height: 30px;
    margin-left: 10px;
    width: 100%;
}
#Food_Items div
{
    width: 100%;
    height: 30px;
    background-color: black;
}
#Shop_finder_Place
{
    display: grid;
    grid-template-columns: 50% 50%;

}
#Shop_finder_Place button
{
    height: 100px;
}
#The_Buttons_to_move
{
    display: flex;
}